/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/09/2020, 14:37:54
    Author     : Diego
*/
h1{
    background-color: lightblue;
}
h2{  
    background-color: lightblue;
}
body{
    background-image: url('bgportifolio.jpg');
}
a{
    color: indigo;
}